@layout("layout")

@section("header")
    <h1>Forgot password</h1>
@endsection

@section("content")
    <form method="post">
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" name="email">
        </div>
        <button type="submit" class="btn btn-primary">Send</button>
    </form>
@endsection
