@layout("layout")

@section("header")
    <h1>Welcome to ThreadBear</h1>
@endsection

@section("content")
    <p>
        Looking for a cuddly friend or your next hobby project?
        Our extensive range of lovingly crafted bears and clearly
        written patterns will delight you.
    </p>
@endsection
