<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {{ css("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css") }}
    </head>
    <body>
        <div class="container">
            <header class="row">
                <div class="col">
                    @!section("header")
                </div>
            </header>
            <main class="row">
                <div class="col">
                    @!section("content")
                </div>
            </main>
        </div>
        {{ script("https://code.jquery.com/jquery-3.2.1.slim.min.js") }}
        {{ script("https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js") }}
        {{ script("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js") }}
    </body>
</html>
